footer.foot {
    background-color: blanchedalmond;
    padding: 10px 200px;
}

footer.foot h1 {
    color: black;
}

footer.foot ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.foot ul li { 
    font-size: 25px;
    color: blueviolet;
    line-height: 1.5;
}